div {
    display: inline-block;
}

body {
    margin: 0;
    background-color: rgb(241, 240, 238);
}

.header {
    width: 100%;
    height: 50px;
    backgr: 0px;
    background-color: rgb(11, 172, 172);
    text-align: center;
}

.left {
    float: left;
    width: 50px;
    height: 100%;
    text-align: center;
}

.left:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
    /* Adjusts for spacing */
}

.right {
    float: right;
    width: 50px;
    text-align: center;
    height: 100%
}

.right:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
    /* Adjusts for spacing */
}

.center {
    height: 100%;
    width: 60px;
}

.register {
    background-color: rgb(11, 172, 172);
    border: none;
    vertical-align: middle;
}

.close {
    background-color: rgb(11, 172, 172);
    border: none;
    vertical-align: middle;
}





.phonelogo {
    padding-right: 15px;
    margin: 10px;
    border-right: 1px solid rgb(109, 103, 103);
}

.phonebox {

    width: 100%;
    height: 50px;
    background-color: white;
    display: inline-flex;
    margin-top: 10px;
}

.phonenumber {
    width: 100%;
    height: 50px;
    border: none;

}

.passwordlogo {
    padding-right: 15px;
    margin: 10px;
    border-right: 1px solid rgb(109, 103, 103);
}

.passwordnumber {
    width: 100%;
    height: 50px;
    border: none;
}

.passwordbox {
    width: 100%;
    height: 50px;
    background-color: white;
    display: inline-flex;
    margin-top: 10px;
}

.foot {
    display: block;
}

.loginbox {
    display: block;
    width: 100%;
    height: 50px;
    background-color: rgb(11, 172, 172);
    text-align: center;
    margin-top: 10px;
}

.login {
    background-color: rgb(11, 172, 172);
    border: none;
    width: 100px;
    height: 50px;
    vertical-align: middle;

}

.foot {
    float: right;
    width: 80px;
    height: 30px;
    margin-top: 10px;
}

img {
    margin: 5px;
}

a {
    color: rgb(11, 172, 172);
}

button {
    color: white;
}

p {
    color: white;
}