body {
    margin: 0;
    width: 100%;
    min-width: 370px;
}

.box {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 50px;
    background-color: #0cb6b6;
    color: white;
    text-align: center;
}

.fanhui {
    position: absolute;
    top: 15px;
    width: 50px;
}

.tu1 {
    height: 220px;
}

.tu2 {
    position: absolute;
    top: 95px;
    left: 30px;
}

.orange {
    position: absolute;
    top: 120px;
    left: 140px;
    color: white;
}
.orange1 {
    position: absolute;
    top: 145px;
    left: 140px;
    color: white;
    font-size: 13px;
}
.tu3{
    margin-right: 8px;
}
.dog {
    padding-left: 10px;
    border-left: 3px solid #0cb6b6;
    font-size: 13px;
    margin: 15px;
}

.cat1 {
    float: left;
    padding-left: 15px;
    font-size: 13px;
    line-height: 50px;
    margin-left: 10px;
}

.cat2 {
    line-height: 50px;
    font-size: 13px;
    padding-left: 80px;
    border-top: 1px solid #808080;
}

.both {
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px 0;
    border-top: 1px solid #808080;
}

.pig {
    float: left;
    color: #808080;
    font-size: 13px;
    padding: 0 10px;
    margin-right: 10px;
    border-right: 1px solid #808080;
}

.fox {
    font-size: 13px;
}

.both1 {
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px 0;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
}

.pig1 {
    float: left;
    color: #808080;
    font-size: 13px;
    padding: 0 10px;
    margin-right: 10px;
    border-right: 1px solid #808080;
}

.fox1 {
    color: red;
    font-size: 13px;
}

.both2 {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px 0;
    border-bottom: 1px solid #808080;

}

.pig2 {
    float: left;
    color: #808080;
    font-size: 13px;
    padding: 0 10px;
    margin: auto;
    border-right: 1px solid #808080;
}

.my {
    font-size: 13px;
    flex-grow: 1;
    margin: 0 10px;
    width: 50%;
}

.kongbai {
    height: 100px;
    width: 100%;
}

.dibu {
    background-color: white;
    display: flex;
    justify-content:space-around; 
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 50px;
    padding-top: 10px;
    margin-bottom: 10px;
}
.three {
    font-size: 16px;
    background-color: white;
    border: 1px solid #0cb6b6;
    border-radius: 5px;
    color: #0cb6b6;
    width: 47%;
    margin-left: 3%;
}

.four {
    font-size: 16px;
    background-color: #0cb6b6;
    border: 1px solid #0cb6b6;
    border-radius: 5px;
    color: white;
    width: 47%;
    margin-left: 3%;
    margin-right: 3%;
}
 