div {
    display: inline-block;
}
.header {
    background-color: rgb(7, 77, 77);
    text-align: center;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 10;
}

p{
margin-top: 10px;
font-size:40px;
color:white;
}


.left {
    float: left;
    vertical-align: middle;
    margin-top: 20px;
    margin-left: 10px;
}

body {
    margin: 0px;
    width: 100%;
    min-width:370px;
}

.beijing {
    width: 100%;
    margin-top: 80px;
    height: 500px;
   
}

.touxiang {
    position: absolute;
    top: 230px;
    left: 100px;
}

.mm {
    position: absolute;
    top: 280px;
    left: 350px;
    font-size: 40px;
}

.nn {
    position: absolute;
    top: 350px;
    left: 380px;
    font-size: 30px;
}

.dizhi {
    position: absolute;
    top: 355px;
    left: 340px;
    width: 30px;
    height: 35px;
}

.one {
    width:100%;
    height: 80px;
    font-size:30px;
    padding-top:0px;
    border-bottom:1px solid;
   
}

.zhuanye{
    margin-left: 60px;
    margin-top: 10px;
    padding-left:15px;
    border-left:10px solid;
    border-left-color:rgb(7, 77, 77)

}


.two {
width:94%;
    height: 80px;
    border-bottom-color: black;
    border-bottom: solid 1px;
    margin-left:3%;
    margin-right:3%;
   
}

.twoson1 {
    margin-left: 30px;
    margin-top: 25px;
    
}

.twoson2 {
    margin-left: 20px;
    margin-top: 25px;
}

.three {
width:94%;
    height: 80px;
    border-bottom-color: black;
    border-bottom: solid 1px;
    margin-left:3%;
    margin-right:3%;
   
}

.cc1 {
    margin-left: 30px;
    margin-top: 25px;
}

.cc2 {
    margin-left: 20px;
    margin-top: 25px;
    padding-left: 17px;
    border-left: 1px solid;
}

.four {
    width: 94%;
    height: 80px;
    border-bottom: solid 1px;
    margin-left: 3%;
    margin-right:3%;
}

.dd1 {
    margin-left: 30px;
    margin-top: 25px;
}

.dd2 {
    margin-left: 25px;
    margin-top: 25px;
    padding-left: 17px;
    border-left: 1px solid;
}

.five {
    width: 94%;
    height: 80px;
    border-bottom: solid 1px;
    margin-left: 3%;
    margin-right:3%;
}
    .gg1 {
        margin-left: 30px;
        margin-top: 25px;
}

    .gg2 {
        margin-left: 25px;
    margin-top: 25px;
    padding-left: 17px;
    border-left: 1px solid;

    }

    .six {
        display: flex;
        padding-bottom: 100px;
        width: 94%;
        border-bottom: solid 1px;
        margin-left: 3%;
        margin-right:3%;
    
    }
   
.hh1{
    margin-left: 30px;
        margin-top: 25px;
    padding-right:15px;
    border-right: 1px solid;
    height:20px;
}

.hh2{
    flex-grow: 1;
    margin-left: 25px;
    margin-top: 25px;
 }

.h1{
width: 80px;
}







.dibu{
    background-color: white;
    display: flex;
    justify-content:space-around; 
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 80px;
    padding-top: 10px;
    margin-bottom: 10px;
    font: size 30px;
    
}

.l{
    font-size: 30px;
    background-color: white;
    border: 1px solid #0cb6b6;
    border-radius: 5px;
    color: #0cb6b6;
    width: 47%;
    margin-left: 3%;
}

.r{
    font-size: 30px;
    background-color: #0cb6b6;
    border: 1px solid #0cb6b6;
    border-radius: 5px;
    color: white;
    width: 47%;
    margin-left: 3%;
    margin-right: 3%;}
