#prat1 {

    background: blue;
    /*边长200像素的蓝色方块*/

}

#prat2 {

    background: red;
    /*边长200像素的蓝色方块*/

}

#prat3 {


    background: yellow;
    /*边长200像素的蓝色方块*/

}

#prat4 {

    background: green;
    /*边长200像素的蓝色方块*/

    clear: left;

}

#prat5 {

    background: blue;
    /*边长200像素的蓝色方块*/

}

#prat6 {

    background: rgb(141, 22, 28);
    /*边长200像素的蓝色方块*/

}

#prat7 {



    background: blue;
    /*边长200像素的蓝色方块*/

    clear: left;


}

#prat8 {

    background: rgb(5, 170, 79);
    /*边长200像素的蓝色方块*/

}

#prat9 {
    background: rgb(201, 119, 13);
    /*边长200像素的蓝色方块*/

}

.jiugongge {
    width: 29.3%;
    padding-bottom: 29.3%;
    float: left;
    border-radius: 25%;
    margin-top: 2%; 
    margin-left: 2%;
 

}